# APP
PORT=8000
APP_NAME=ECOMMERCE_API
APP_URL=http://localhost:8000

# DATABASE
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=ecommerce
DB_USERNAME=root
DB_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRE_TIME=


# MAIL
MAIL_HOST=
MAIL_SERVICE=
MAIL_PORT=
MAIL_SECURE=
MAIL_USER=
MAIL_PASS=